<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">ID</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="id" [(ngModel)]="obj.id" name="id" id="id">
      <nz-form-explain *ngIf="validateForm.get('id').dirty && validateForm.get('id').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
   
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">所属组织</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="organizationId" [(ngModel)]="obj.organizationId" name="organizationId" id="organizationId">
      <nz-form-explain *ngIf="validateForm.get('organizationId').dirty && validateForm.get('organizationId').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
   
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">操作类</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="optionName" [(ngModel)]="obj.optionName" name="optionName" id="optionName">
      <nz-form-explain *ngIf="validateForm.get('optionName').dirty && validateForm.get('optionName').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
   
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">操作方法名</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="optionType" [(ngModel)]="obj.optionType" name="optionType" id="optionType">
      <nz-form-explain *ngIf="validateForm.get('optionType').dirty && validateForm.get('optionType').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
   
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">操作方法</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="method" [(ngModel)]="obj.method" name="method" id="method">
      <nz-form-explain *ngIf="validateForm.get('method').dirty && validateForm.get('method').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
   
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">参数</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="params" [(ngModel)]="obj.params" name="params" id="params">
      <nz-form-explain *ngIf="validateForm.get('params').dirty && validateForm.get('params').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
   
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">操作人</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="userId" [(ngModel)]="obj.userId" name="userId" id="userId">
      <nz-form-explain *ngIf="validateForm.get('userId').dirty && validateForm.get('userId').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
   
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">IP</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="ip" [(ngModel)]="obj.ip" name="ip" id="ip">
      <nz-form-explain *ngIf="validateForm.get('ip').dirty && validateForm.get('ip').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
   
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">执行时长</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="executionTime" [(ngModel)]="obj.executionTime" name="executionTime" id="executionTime">
      <nz-form-explain *ngIf="validateForm.get('executionTime').dirty && validateForm.get('executionTime').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
   
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">操作时间</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="created" [(ngModel)]="obj.created" name="created" id="created">
      <nz-form-explain *ngIf="validateForm.get('created').dirty && validateForm.get('created').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
   
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">状态</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="status" [(ngModel)]="obj.status" name="status" id="status">
      <nz-form-explain *ngIf="validateForm.get('status').dirty && validateForm.get('status').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
   
   <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzLoading]="isLoading">保存</button>&nbsp;&nbsp;
      <button nz-button nzType="dashed" routerLink="/log/list" [nzLoading]="isLoading">取消</button>
    </nz-form-control>
  </nz-form-item>
</form>