<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">


  <div nz-row [nzGutter]="24">

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="serialNo">工号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写工号" formControlName="serialNo" [(ngModel)]="obj.serialNo" name="serialNo"
                 id="serialNo"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">姓名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写姓名" formControlName="name" [(ngModel)]="obj.name" name="name" id="name"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="genderId">性别</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写性别" formControlName="genderId" [(ngModel)]="obj.genderId" name="genderId"
                 id="genderId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


  </div>


  <div nz-row [nzGutter]="24">

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="mobile">电话号码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写电话号码" formControlName="mobile" [(ngModel)]="obj.mobile" name="mobile"
                 id="mobile"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">邮箱</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写邮箱" formControlName="email" [(ngModel)]="obj.email" name="email" id="email"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="avatar">头像</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写头像" formControlName="avatar" [(ngModel)]="obj.avatar" name="avatar"
                 id="avatar"/>
        </nz-form-control>

      </nz-form-item>
    </div>


  </div>


  <div nz-row [nzGutter]="24">


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nationId">民族</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写民族" formControlName="nationId" [(ngModel)]="obj.nationId" name="nationId"
                 id="nationId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="departmentId">所属部门</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写所属部门" formControlName="departmentId" [(ngModel)]="obj.departmentId"
                 name="departmentId" id="departmentId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="birthday">生日</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写生日" formControlName="birthday" [(ngModel)]="obj.birthday" name="birthday"
                 id="birthday"/>
        </nz-form-control>

      </nz-form-item>
    </div>


  </div>


  <div nz-row [nzGutter]="24">

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="academicId">学位</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写学位" formControlName="academicId" [(ngModel)]="obj.academicId"
                 name="academicId" id="academicId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="degreeId">学历</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写学历" formControlName="degreeId" [(ngModel)]="obj.degreeId" name="degreeId"
                 id="degreeId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="positionId">职位</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写职位" formControlName="positionId" [(ngModel)]="obj.positionId"
                 name="positionId" id="positionId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


  </div>


  <div nz-row [nzGutter]="24">

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="titleId">职称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写职称" formControlName="titleId" [(ngModel)]="obj.titleId" name="titleId"
                 id="titleId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="typeId">人员类型</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写人员类型" formControlName="typeId" [(ngModel)]="obj.typeId" name="typeId"
                 id="typeId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="identifyTypeId">证件类型</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写证件类型" formControlName="identifyTypeId" [(ngModel)]="obj.identifyTypeId"
                 name="identifyTypeId" id="identifyTypeId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


  </div>


  <div nz-row [nzGutter]="24">

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="identifyNo">证件号码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写证件号码" formControlName="identifyNo" [(ngModel)]="obj.identifyNo"
                 name="identifyNo" id="identifyNo"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="birthProvinceId">所属省份</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写所属省份" formControlName="birthProvinceId" [(ngModel)]="obj.birthProvinceId"
                 name="birthProvinceId" id="birthProvinceId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


  </div>


  <div nz-row [nzGutter]="24">

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="birthCityId">所属城市</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写所属城市" formControlName="birthCityId" [(ngModel)]="obj.birthCityId"
                 name="birthCityId" id="birthCityId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="policy">政治面貌</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写政治面貌" formControlName="policy" [(ngModel)]="obj.policy" name="policy"
                 id="policy"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">状态</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写状态" formControlName="status" [(ngModel)]="obj.status" name="status"
                 id="status"/>
        </nz-form-control>

      </nz-form-item>
    </div>


  </div>


  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzLoading]="isLoading">保存</button>&nbsp;&nbsp;
      <button nz-button nzType="dashed" routerLink="/staff/list" [nzLoading]="isLoading">取消</button>
    </nz-form-control>
  </nz-form-item>
</form>
