<nz-layout style="height: 100%">
  <nz-header>
    <div style="float: left;">
          <nz-avatar [nzSrc]="'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1549969134321&di=113371aa86883c695f6d88bc4613c936&imgtype=0&src=http%3A%2F%2Fwww.5snow.com%2Ffiles%2Fa%2Fa0319f12a7c895a6b942227a7e6c9c1f.jpg'"></nz-avatar>
    </div>
    <div style="float: right;">
      <nz-dropdown nzTrigger="click">
        <a nz-dropdown>
          <ng-container *ngIf="userInfo && userInfo.staff">
            {{userInfo.staff.name}}
            <nz-avatar [nzSrc]="userInfo.staff.avatar"></nz-avatar>
          </ng-container>
        </a>
        <!-- <ul nz-menu nzSelectable *ngIf="menus">
          <li nz-menu-item *ngFor="let m of menus" (click)="click(m)">
            <a><i class="anticon" [ngClass]="m.icon"></i>&nbsp;{{m.label}}</a>
          </li>
        </ul>-->

        <ul nz-menu>
          <li nz-menu-item>
            <a>个人信息</a>
          </li>
          <li nz-menu-item>
            <a>修改密码</a>
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="showLogoutConfirm()">退出</li>

        </ul>
      </nz-dropdown>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider style="overflow: auto;min-width: 150px;" [nzWidth]="'200px'">
      <app-menu [menus]="menus"></app-menu>
    </nz-sider>
    <nz-layout>
      <router-outlet> {{userInfo | json}}</router-outlet>
      <nz-modal [(nzVisible)]="loginFlag" nzTitle="您的登录信息已失效，请重新登录！" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <app-login></app-login>
      </nz-modal>
      <button (click)="login()">test</button>
      <button (click)="getMenu()">test</button>
    </nz-layout>
  </nz-layout>
</nz-layout>

