<div class="table-operations">
  <button nz-button nzType="primary" routerLink="../add"><i class="anticon anticon-plus"></i>添加</button>&nbsp;&nbsp;
  <button nz-button nzType="dashed"><i class="anticon anticon-delete"></i>删除</button>
</div>
<nz-table
  #staffTable
  nzShowSizeChanger
  [nzData]="rows"
  [nzScroll]="{x:'100%'}"
  [nzLoading]="isLoading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzFrontPagination]="false"
  (nzPageIndexChange)="getListByPage()"
  (nzPageSizeChange)="getListByPage(true)">
  <thead nzSingleSort>
  <tr>
    <th nzShowSort nzSortKey="name">用户名</th>
    <th nzShowSort nzSortKey="email">邮箱</th>
    <th nzShowSort nzSortKey="accountLocked">是否锁定</th>
    <th nzShowSort nzSortKey="status"><span>状态</span></th>
    <th nzShowSort nzSortKey="created">创建时间</th>
    <th><span>操作</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of staffTable.data">
    <td>{{data.username}}</td>
    <td>{{data.email}}</td>
    <td>{{data.accountLocked}}</td>
    <td>{{data.status}}</td>
    <td>{{data.created}}</td>
    <td>
      <button title="选择角色" (click)="openDrawer(data.id)" nz-button nzType="primary" nzShape="circle"><i nz-icon type="team" theme="outline"></i></button>
      <button title="修改数据" [routerLink]="['../edit',data.id]" nz-button nzType="primary" nzShape="circle"><i
        class="anticon anticon-edit"></i></button>
      <nz-popconfirm [nzTitle]="'确定删除吗?'" (nzOnConfirm)="deleteRow(data.id)">
        <button nz-popconfirm title="修改数据" nz-button nzType="primary" nzShape="circle"><i nz-icon type="delete"
                                                                                          theme="outline"
                                                                                          twoToneColor="red"
                                                                                          title="删除"></i></button>
      </nz-popconfirm>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-drawer [nzClosable]="false" [nzVisible]="drawerVisible" [nzWidth]="300" nzPlacement="right" nzTitle="菜单授权"
           (nzOnClose)="close()">

  <nz-select
    style="width: 100%;"
    nzMode="multiple"
    nzPlaceHolder="请选择角色"
    [(ngModel)]="listOfSelectedRole"
    nzAllowClear
  >
    <ng-container *ngFor="let option of roles">
      <nz-option [nzLabel]="option.name" [nzValue]="option.id" *ngIf="isNotSelectedRole(option)"></nz-option>
    </ng-container>
  </nz-select>
  <nz-divider></nz-divider>
  <button nz-button nzType="primary"  [nzLoading]="isLoading" (click)="saveSelectedRoles()">保存</button>&nbsp;&nbsp;
  <button nz-button nzType="dashed" (click)="close()" [nzLoading]="isLoading">取消</button>
</nz-drawer>
