<nz-tree
  #menuTree
  [nzData]="nodes"
  (nzClick)="activeNode($event)"
  (nzDblClick)="openFolder($event)" nzShowIcon>
  <ng-template #nzTreeTemplate let-node>
    <span class="custom-node" [class.active]="activedNode?.key===node.key">
      <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event,contextTemplate,node)">
        <i nz-icon [type]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>
        <span class="folder-name">{{node.title}}</span>
      </span>
      <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event,contextTemplate,node)">
        <i nz-icon type="file"></i>
        <span class="file-name">{{node.title}}</span>
      </span>
    </span>
  </ng-template>

  <ng-template #contextTemplate>
    <ul nz-menu nzInDropDown>
      <li nz-menu-item (click)="createMenu()">增加</li>
      <li nz-menu-item (click)="editMenu()">修改</li>
      <li nz-menu-item (click)="addAuth()">添加权限</li>
      <nz-popconfirm [nzTitle]="'确定删除吗?'" (nzOnConfirm)="deleteObject()">
        <li nz-menu-item nz-popconfirm>删除</li>
      </nz-popconfirm>
    </ul>
  </ng-template>
</nz-tree>
<nz-drawer [nzClosable]="false" [nzVisible]="visible" [nzWidth]="300" nzPlacement="right" nzTitle="菜单编辑"
           (nzOnClose)="close()">

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="parentId">父节点</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-tree-select [(ngModel)]="obj.parentId" formControlName="parentId"
                        [nzDefaultExpandedKeys]="expandKeys"
                        [nzNodes]="nodes"
                        nzShowSearch
                        nzPlaceHolder="请选择"
                        (ngModelChange)="onChange($event)">
        </nz-tree-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">名称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="title" [(ngModel)]="obj.title" name="title" id="title">
        <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors">
          必填
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">code</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="code" [(ngModel)]="obj.code" name="code" id="code">
        <nz-form-explain *ngIf="validateForm.get('code').dirty && validateForm.get('code').errors">
          必填
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sourceId">icon</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="icon" [(ngModel)]="obj.icon" name="icon" id="icon">
        <nz-form-explain *ngIf="validateForm.get('icon').dirty && validateForm.get('icon').errors">
          必填
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="path">path</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="path" [(ngModel)]="obj.path" name="path" id="path">
        <nz-form-explain *ngIf="validateForm.get('path').dirty && validateForm.get('path').errors">
          必填
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sort">sort</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="sort" [(ngModel)]="obj.sort" name="sort" id="sort">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">状态</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="status" [(ngModel)]="obj.status" name="status" id="status">
          <label nz-radio [nzValue]="1">启用</label>
          <label nz-radio [nzValue]="0">禁用</label>
        </nz-radio-group>
        <nz-form-explain *ngIf="validateForm.get('status').dirty && validateForm.get('status').errors">
          必选
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzLoading]="isLoading">保存</button>&nbsp;&nbsp;
        <button nz-button nzType="dashed" (click)="close()" [nzLoading]="isLoading">取消</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-drawer>
