<div class="table-operations">
  <button nz-button nzType="primary" routerLink="/menuauth/add"><i class="anticon anticon-plus"></i>添加</button>&nbsp;&nbsp;
  <button nz-button nzType="dashed"><i class="anticon anticon-delete"></i>删除</button>
</div>
<nz-table
  #staffTable
  nzShowSizeChanger
  [nzData]="rows"
  [nzLoading]="loading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzFrontPagination]="false"
  (nzPageIndexChange)="getListByPage()"
  (nzPageSizeChange)="getListByPage(true)">
  <thead nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="name">名称</th>
      <th nzShowSort nzSortKey="code">编码</th>
      <th nzShowSort nzSortKey="path">描述</th>
      <th nzShowSort nzSortKey="menuId"><span>菜单</span></th>
      <th nzShowSort nzSortKey="status">状态</th>
      <th nzShowSort nzSortKey="created">创建时间</th>
      <th><span>操作</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of staffTable.data">
      <td>{{data.name}}</td>
      <td>{{data.code}}</td>
      <td>{{data.path}}</td>
      <td>{{data.menuName}}</td>
      <td>{{data.status}}</td>
      <td>{{data.created}}</td>
      <td>
        <button title="修改数据" [routerLink]="['../edit',data.id]" nz-button nzType="primary" nzShape="circle"><i
          class="anticon anticon-edit"></i></button>
        <nz-popconfirm [nzTitle]="'确定删除吗?'" (nzOnConfirm)="deleteRow(data.id)">
          <button nz-popconfirm title="修改数据" nz-button nzType="primary" nzShape="circle"><i nz-icon type="delete"
                                                                                            theme="outline"
                                                                                            twoToneColor="red"
                                                                                            title="删除"></i></button>
        </nz-popconfirm>
      </td>
    </tr>
  </tbody>
</nz-table>
