<ng-container>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="help.isCollapsed">
    <ng-container *ngFor="let item of menus">

      <li *ngIf="item.children==null" nz-menu-item (click)="goToPage(item)">
        <span><i nz-icon [type]="item.icon?item.icon:'calendar'" ></i><span class="nav-text">{{item.title}}</span></span>
      </li>
      <li *ngIf="item.children!=null" nz-submenu>
        <span title><i nz-icon [type]="item.icon?item.icon:'calendar'"></i><span class="nav-text">{{item.title}}</span></span>
        <app-submenu *ngIf="item.children!=null" [menus]="item.children">
        </app-submenu>
      </li>
    </ng-container>

  </ul>
</ng-container>
