<div class="drag-content">
  <ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed" style="height:100%">
    <ng-container *ngFor="let item of menus">
      <li *ngIf="item.children==null" nz-menu-item nz-tooltip nzPlacement="right">
        <span title><i nz-icon [type]="item.icon?item.icon:'calendar'"></i>{{item.name}}</span>
      </li>
      <li *ngIf="item.children!=null" nz-submenu>
        <span title><i nz-icon [type]="item.icon?item.icon:'calendar'"></i>{{item.name}}</span>
        <app-submenu *ngIf="item.children!=null" [menus]="item.children">
        </app-submenu>
      </li>
    </ng-container>

  </ul>
</div>
