<div class="table-operations">
  <button nz-button nzType="primary" routerLink="../add"><i class="anticon anticon-plus"></i>添加</button>&nbsp;&nbsp;
  <button nz-button nzType="dashed" (click)="deleteOfChecked()"><i class="anticon anticon-delete"></i>删除</button>
</div>
<nz-table
  #staffTable
  nzShowSizeChanger
  [nzData]="rows"
  [nzScroll]="{x:'100%'}"
  [nzLoading]="loading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzFrontPagination]="false"
  (nzPageIndexChange)="getListByPage()"
  (nzPageSizeChange)="getListByPage(true)"
  (nzCurrentPageDataChange)="currentPageDataChange($event)">
  <thead nzSingleSort>
  <tr>
    <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
    <th nzShowSort nzSortKey="name">名称</th>
    <th nzShowSort nzSortKey="sourceId">ID</th>
    <th nzShowSort nzSortKey="appId">appId</th>
    <th nzShowSort nzSortKey="appSecret"><span>appSecret</span></th>
    <th nzShowSort nzSortKey="status">status</th>
    <th nzShowSort nzSortKey="created">创建时间</th>
    <th><span>操作</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of staffTable.data">
    <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()" ></td>
    <td>{{data.name}}</td>
    <td>{{data.sourceId}}</td>
    <td>{{data.appId}}</td>
    <td>{{data.appSecret}}</td>
    <td>
        <ng-container *ngIf="data.status=='0'">启用</ng-container>
        <ng-container *ngIf="data.status=='1'">禁用</ng-container>
    </td>
    <td>{{data.created}}</td>
    <td>
      <button title="修改数据" [routerLink]="['../edit',data.id]" nz-button nzType="primary" nzShape="circle"><i
        class="anticon anticon-edit"></i></button>
      <nz-popconfirm [nzTitle]="'确定删除吗?'" (nzOnConfirm)="deleteRow(data.id)">
        <button nz-popconfirm title="修改数据" nz-button nzType="primary" nzShape="circle"><i nz-icon type="delete"
                                                                                          theme="outline"
                                                                                          twoToneColor="red"
                                                                                          title="删除"></i></button>
      </nz-popconfirm>
    </td>
  </tr>
  </tbody>
</nz-table>
