<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">


  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">登录账号</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="username" [(ngModel)]="obj.username" name="username" id="username">
      <nz-form-explain *ngIf="validateForm.get('username').dirty && validateForm.get('username').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">登录IP地址</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="ip" [(ngModel)]="obj.ip" name="ip" id="ip">
      <nz-form-explain *ngIf="validateForm.get('ip').dirty && validateForm.get('ip').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">登录地点</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="loginLocation" [(ngModel)]="obj.loginLocation" name="loginLocation"
             id="loginLocation">
      <nz-form-explain *ngIf="validateForm.get('loginLocation').dirty && validateForm.get('loginLocation').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">浏览器类型</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="browser" [(ngModel)]="obj.browser" name="browser" id="browser">
      <nz-form-explain *ngIf="validateForm.get('browser').dirty && validateForm.get('browser').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">操作系统</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="os" [(ngModel)]="obj.os" name="os" id="os">
      <nz-form-explain *ngIf="validateForm.get('os').dirty && validateForm.get('os').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">登录状态（0成功 1失败）</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="status" [(ngModel)]="obj.status" name="status" id="status">
      <nz-form-explain *ngIf="validateForm.get('status').dirty && validateForm.get('status').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">提示消息</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="message" [(ngModel)]="obj.message" name="message" id="message">
      <nz-form-explain *ngIf="validateForm.get('message').dirty && validateForm.get('message').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">访问时间</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="created" [(ngModel)]="obj.created" name="created" id="created">
      <nz-form-explain *ngIf="validateForm.get('created').dirty && validateForm.get('created').errors">
        必填
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzLoading]="isLoading">保存</button>&nbsp;&nbsp;
      <button nz-button nzType="dashed" routerLink="/loginrecord/list" [nzLoading]="isLoading">取消</button>
    </nz-form-control>
  </nz-form-item>

</form>
